<div id="carrito-cupon" class="cupon-container">
  <h4 class="cupon-titulo"> Cup贸n de descuento</h4>
  
  <% if carrito&.coupon.present? %>
    <div class="cupon-aplicado">
      <div class="cupon-info">
        <span class="cupon-codigo"> <%= carrito.coupon.codigo %></span>
        <span class="cupon-descuento">-<%= number_to_currency(carrito.descuento, unit: "COP $", separator: ",", delimiter: ".") %></span>
      </div>
      <%= button_to "Quitar cup贸n",
                    quitar_cupon_carrito_path,
                    method: :delete,
                    form: { data: { turbo_stream: true } },
                    class: "btn-quitar-cupon" %>
    </div>
  <% else %>
    <div class="cupon-form">
      <%= form_with url: aplicar_cupon_carrito_path,
                    method: :post,
                    data: { turbo_stream: true },
                    local: true,
                    class: "form-cupon-modern" do |f| %>
        <div class="input-group">
          <%= f.text_field :codigo, placeholder: "Ingresa tu c贸digo de cup贸n", class: "cupon-input" %>
          <%= f.submit "Aplicar", class: "btn-aplicar-cupon" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
