<section id="carrito-contenido" class="carrito">
  <h2><%= t("home.carrito.tu_carrito")%></h2>
  <% if @items.empty? %>
    <p><%= t("home.carrito.carrito_vacio")%></p>
  <% else %>
    <%= turbo_frame_tag "carrito", class: "carrito-items" do %>
      <%= render partial: "carritos/item", collection: @carrito.carrito_items, as: :item %>
    <% end %>

    <p><strong><%= t("home.carrito.total_producto")%></strong> <span id="contador-productos"><%= @carrito.carrito_items.sum(:cantidad) %></span></p>

    <p><strong><%= t("home.carrito.total_pagar")%></strong> <span id="total-carrito">
      <%= number_to_currency(@carrito.carrito_items.sum { |item| item.precio * item.cantidad }, unit: "COP ", separator: ",", delimiter: ".") %>
    </span></p>

    <%= link_to t("home.carrito.finalizar_compra"), "#", class: "btn-finalizar" %>
  <% end %>
</section>
