<!DOCTYPE html>
<html>
<head>
  <title>Panel De Administrador</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>


  <link rel="icon" href="<%= asset_path('LogoLogo.svg') %>" type="image/svg+xml">
  <link rel="apple-touch-icon" href="<%= asset_path('LogoLogo.svg') %>" type="image/svg+xml">
  
  <%= stylesheet_link_tag "bootstrap.min", "data-turbo-track": "reload" %>

</head>
<body>
  <main class="dashboard-container" style="display: flex;">
  
    <aside class="sidebar">

      <div class="session-header" style="margin: 15px 0; ">
        <%= image_tag "LogoLogo.svg", alt: "logo", style: "margin:0; height: 130px; width:130px;"%>
      </div>

      <h2>Panel</h2>

      <% if current_user.empleado? %>

        <p>Bienvenido, <%= current_user.nombre %>!</p>

        <%= link_to "Órdenes", employee_dashboard_orders_path %>
      
      <% elsif current_user.admin? %>
      
        <p>Bienvenido, <%= current_user.nombre %>!</p>

        <%= link_to t("home.dashboard.dash"), dashboard_root_path %>
        <%= link_to "Usuarios", dashboard_users_path %>
        <%= link_to "Órdenes", dashboard_orders_path %>
        
        <details>
          <summary><%= t("home.dashboard.banner")%></summary>
            <div class="details-content">
              <%= link_to t("home.dashboard.ver_banners"), dashboard_banners_path%>
              <%= link_to t("home.dashboard.crear_banner"), new_dashboard_banner_path%>
            </div>
        </details>


        <details>
          <summary><%= t("home.dashboard.producto")%></summary>
            <div class="details-content">
              <%= link_to t("home.dashboard.ver_productos"), dashboard_products_path %>
              <%= link_to t("home.dashboard.crear_producto"), new_dashboard_product_path %>
            </div>
        </details>

        <details>
          <summary><%= t("home.dashboard.grupos")%></summary>
            <div class="details-content">
              <%= link_to t("home.dashboard.ver_grupos"), dashboard_grupos_path %>
              <%= link_to t("home.dashboard.crear_grupo"), new_dashboard_grupo_path %>
            </div>
        </details>

        <details>
          <summary><%= t("home.dashboard.ingredientes")%></summary>
            <div class="details-content">
              <%= link_to t("home.dashboard.ver_ingredientes"), dashboard_ingredientes_path %>
              <%= link_to t("home.dashboard.crear_ingrediente"), new_dashboard_ingrediente_path %>
            </div>
        </details>

      <% end %>

      
      <%= link_to t("home.dashboard.volver_al_inicio"), root_path, class: "sidebar-footer"%>
      
    </aside>


    <main class="main-content">
      <div id="flash-messages">
        <% if flash[:alert] %>
          <div class="alert alert-danger"><%= flash[:alert] %></div>
        <% end %>

        <% if flash[:notice] %>
          <div class="alert alert-info"><%= flash[:notice] %></div>
        <% end %>

        <% if flash[:error] %>
          <div class="alert alert-danger"><%= flash[:error] %></div>
        <% end %>
      </div>

      <%= yield %>
      
    </main>

  </main>
  <div id="animations"></div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
