<!DOCTYPE html>
<html>
<head>
  <title>Panel De Administrador</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>


  <link rel="icon" href="<%= asset_path('LogoLogo.svg') %>" type="image/svg+xml">
  <link rel="apple-touch-icon" href="<%= asset_path('LogoLogo.svg') %>" type="image/svg+xml">


</head>
<body>
  <main class="dashboard-container" style="display: flex;">
  
    <aside class="sidebar">

      <div class="session-header" style="margin: 15px 0; ">
        <%= image_tag "LogoLogo.svg", alt: "logo", style: "margin:0; height: 130px; width:130px;"%>
      </div>

      <h2>Panel</h2>
      <%= link_to t("home.dashboard.dash"), dashboard_root_path %>
      
      <details>
        <summary><%= t("home.dashboard.banner")%></summary>
          <%= link_to t("home.dashboard.ver_banners"), dashboard_banners_path%>
          <%= link_to t("home.dashboard.crear_banner"), new_dashboard_banner_path%>
      </details>


      <details>
        <summary><%= t("home.dashboard.producto")%></summary>

          <%= link_to t("home.dashboard.ver_productos"), dashboard_products_path %>
          <%= link_to t("home.dashboard.crear_producto"), new_dashboard_product_path %>

      </details>

      <details>
        <summary><%= t("home.dashboard.grupos")%></summary>
        
          <%= link_to t("home.dashboard.ver_grupos"), dashboard_grupos_path %>
          <%= link_to t("home.dashboard.crear_grupo"), new_dashboard_grupo_path %>

      </details>

      <details>
        <summary><%= t("home.dashboard.ingredientes")%></summary>
        
          <%= link_to t("home.dashboard.ver_ingredientes"), dashboard_ingredientes_path %>
          <%= link_to t("home.dashboard.crear_ingrediente"), new_dashboard_ingrediente_path %>

      </details>

      
      <%= link_to t("home.dashboard.volver_al_inicio"), root_path, class: "sidebar-footer"%>
      
    </aside>


    <main class="main-content">
      <%= yield %>
    </main>

  </main>
  <div id="animations"></div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
