<div id="<%= dom_id(user) %>" class="user-card user-row" data-nombre="<%= user.nombre %>" data-apellido="<%= user.apellido %>" data-email="<%= user.email %>" data-rol="<%= user.rol %>">
    <div class="user-details">
        <p><strong><%= t("home.usuarios.nombree")%></strong> <%= user.nombre %> <%= user.apellido %></p>
        <p><strong><%= t("home.usuarios.emaill")%></strong> <%= user.email %></p>
        <p><strong><%= t("home.usuarios.ultimo_acceso")%></strong> <%= user.ultimo_acceso.present? ? user.ultimo_acceso.strftime("%d-%m-%Y %H:%M") : 'Nunca' %>
        <%= content_tag(:span, ' (Inactivo)', class: 'status-inactive') if user.inactive_for_a_month? %>
        </p>
        <p><strong><%= t("home.order.estado")%></strong>
            <span class="status-<%= user.activo? ? 'active' : 'inactive' %>">
                <%= user.activo? ? 'Activo' : 'Inactivo' %>
            </span>
        </p>
    </div>

    <div class="user-actions">
        <div class="user-controls-group">
            <%= form_with(model: user, url: dashboard_user_path(user), method: :patch) do |f| %>
                <%= f.select :rol, User.rols.keys.map { |rol| [rol.titleize, rol] }, {}, { class: "form-control" } %>
                <%= f.submit t("home.usuarios.actualizar_rol"), class: "btn-action btn-primary" %>
            <% end %>
            
            <%= form_with(model: user, url: dashboard_user_path(user), method: :patch, data: { turbo_stream: true }) do |f| %>
                <%= f.hidden_field :activo, value: !user.activo? %>
                <%= f.submit user.activo? ? t("home.cupones.desactivar") : t("home.cupones.activar"), class: "btn-action btn-#{user.activo? ? 'danger' : 'success'}" %>
            <% end %>
        </div>
    </div>
</div>