<section class="order-details" style="max-width: fit-content;">  
  <h2 style="flex: .3; padding: 20px;">Pagar Orden <%= @order.code %></h2>

  <div class="payment-content">
    <div class="payment-details">
      <table class="order-items-table-payment">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_items.each do |item| %>
            <tr>
              <td><%= item.product.nombre %></td>
              <td> <span class="precio" data-precio="<%= item.product.precio %>" data-locale="<%= I18n.locale %>"> <%= number_to_currency(item.product.precio, unit: "COP ", separator: ",", delimiter: ".") %></span></td>
              <td><%= item.quantity %></td>
              <td><span class="precio" data-precio="<%= item.quantity * item.product.precio %>" data-locale="<%= I18n.locale %>"> <%= number_to_currency(item.quantity * item.product.precio, unit: "COP ", separator: ",", delimiter: ".") %></span></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3"><b>Total: </b></td>
            <td><b><strong class="precio" data-precio="<%= @order.total %>" data-locale="<%= I18n.locale %>">$</strong></b></td>
          </tr>
        </tfoot>
      </table>  
    </div>


    <%= form_with model: [@order, @payment], local: true, html: { id: "payment-form", class: "payment-form" } do |f| %>

      <div>
        <%= f.label :card_number, t("home.order-pago.numero-tarjeta") %>
        <br>
        <%= f.text_field :card_number, maxlength: 16, required: true, class: "inputs-form-payment" %>
        <span id="error-card" class="error-msg"></span>
      </div>

      <div style="display: flex; flex-direction: row; gap: 20px; ">
        <div>
          <%= f.label :exp_month, t("home.order-pago.mes-expiracion") %>
          <%= f.select :exp_month, (1..12).map { |m| [m.to_s.rjust(2, "0"), m] }, required: true, class: "inputs-form-payment" %>
          <span id="error-month" class="error-msg"></span>
        </div>

        <div>
          <%= f.label :exp_year, t("home.order-pago.año-expiracion") %>
          <%= f.select :exp_year, (Date.today.year..(Date.today.year+10)).map { |y| [y, y] }, required: true, class: "inputs-form-payment" %>
          <span id="error-year" class="error-msg"></span>
        </div>

      </div>

      <div style="display: flex; gap: 20px;">
        <div>
          <%= f.label :cvc, "CVC" %>
          <br>
          <%= f.text_field :cvc, maxlength: 4, required: true, class: "inputs-form-payment", style: "width: fit-content;" %>
          <span id="error-cvc" class="error-msg"></span>
        </div>
        <div style="width: 100%;">
          <%= f.label :card_holder, t("home.order-pago.nombre-titular") %>
          <%= f.text_field :card_holder, required: true, class: "inputs-form-payment" %>
          <span id="error-holder" class="error-msg"></span>
        </div>
      </div>

      <div>
        <%= f.label :email, t("home.order-pago.correo-electronico") %>
        <%= f.email_field :email, required: true, class: "inputs-form-payment" %>
        <span id="error-email" class="error-msg"></span>
      </div>

      <div class="payment-checkbox-container">
        <div>
          <%= f.check_box :accept_terms, required: true, class: "inputs-form-payment-checkbox" %>
          <%= f.label :accept_terms do %>
            Acepto los 
            <a href="https://wompi.com/assets/downloadble/reglamento-Usuarios-Colombia.pdf?_gl=1*126i4oi*_gcl_aw*R0NMLjE3NTYyMjY0MjQuQ2p3S0NBand0clhGQmhCaUVpd0FFS2VuMXpvMWtBb2dwUkpBWklvc3JjNkJuZ3NIRktrMVRfT3hzODRBWnFTQXdhNGd2Z3JLaVhBWGhSb0NJVnNRQXZEX0J3RQ..*_gcl_au*MjA5MDc4MDUwMy4xNzU1NzE1ODAz*_ga*MTMzNjc3NjQyNC4xNzU1NzE1ODA1*_ga_BQ9HE5B63X*czE3NTYyMjY0MzUkbzE0JGcxJHQxNzU2MjI2ODQ2JGo2MCRsMCRoMA.." target="_blank">términos y condiciones</a>
            de Wompi
          <% end %>
        </div>

        <div>
          <%= f.check_box :accept_data, required: true, class: "inputs-form-payment-checkbox" %>
          <%= f.label :accept_data do %>
            Acepto la
            <a target="_blank" href="https://wompi.com/assets/downloadble/autorizacion-tratamiento-datos-personales.pdf?_gl=1*jcrp79*_gcl_aw*R0NMLjE3NTYyMjY0MjQuQ2p3S0NBand0clhGQmhCaUVpd0FFS2VuMXpvMWtBb2dwUkpBWklvc3JjNkJuZ3NIRktrMVRfT3hzODRBWnFTQXdhNGd2Z3JLaVhBWGhSb0NJVnNRQXZEX0J3RQ..*_gcl_au*MjA5MDc4MDUwMy4xNzU1NzE1ODAz*_ga*MTMzNjc3NjQyNC4xNzU1NzE1ODA1*_ga_BQ9HE5B63X*czE3NTYyMjY0MzUkbzE0JGcxJHQxNzU2MjI2NTU3JGo0JGwwJGgw">autorización para la administración de datos personales</a>
            y conozco la 
            <a target="_blank" href="https://wompi.com/es/co/politica-de-privacidad?_gl=1*13f7i2g*_gcl_aw*R0NMLjE3NTYyMjY0MjQuQ2p3S0NBand0clhGQmhCaUVpd0FFS2VuMXpvMWtBb2dwUkpBWklvc3JjNkJuZ3NIRktrMVRfT3hzODRBWnFTQXdhNGd2Z3JLaVhBWGhSb0NJVnNRQXZEX0J3RQ..*_gcl_au*MjA5MDc4MDUwMy4xNzU1NzE1ODAz*_ga*MTMzNjc3NjQyNC4xNzU1NzE1ODA1*_ga_BQ9HE5B63X*czE3NTYyMjY0MzUkbzE0JGcxJHQxNzU2MjI2NTU3JGo0JGwwJGgw" target="_blank">política para el tratamiento de datos personales.</a>
          <% end %>
        </div>
      </div>

      <%= f.hidden_field :installments, value: 1 %>

      <%= f.submit t("home.order-pago.pagar"), id: "pay-btn", class: "btn-pay", disabled: true %>
    <% end %>
  </div>
</section>