<section class="order-details">
  <p class="return-btn" style="position: absolute; top: 20px; left: 20px; margin: 0;">
    <%= link_to "← Regresar", root_path %>
  </p>
  <h1>
    Orden <span id="order-code"><%= @order.code %></span>
    <button class="btn-copiar" onclick="copiarCodigo()"><%= image_tag "icons/copy-solid-full.svg"%></button>
  </h1>


  <p><strong><%= t("home.order.cliente")%></strong> <%= @order.user.nombre %> <%= @order.user.apellido %></p>
  <p><strong><%= t("home.order.estado")%></strong> <%= @order.status %></p>

  <h2><%= t("home.order.or_producto")%></h2>
  
  <div class="order-tabla-container">
    <table class="order-tabla-products">
      <thead>
        <tr>
          <th><%= t("home.order.imagen")%></th>
          <th><%= t("home.order.or_producto")%></th>
          <th><%= t("home.order.cantidad")%></th>
          <th><%= t("home.order.precio")%></th>
          <th><%= t("home.order.total")%></th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_items.each do |oi| %>
          <tr>
            <td><%= image_tag oi.product.imagen %></td>
            <td><%= oi.product.nombre %></td>
            <td><%= oi.quantity %></td>
            <td><strong class="precio" data-precio="<%= oi.price %>" data-locale="<%= I18n.locale %>">$</strong></td>
            <td><span class="precio" data-precio="<%= oi.price * oi.quantity %>" data-locale="<%= I18n.locale %>"><%= number_to_currency(oi.price * oi.quantity, unit: "COP ", separator: ",", delimiter: ".") %></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <p><strong><%= t("home.order.total_pagar")%></strong> <strong class="precio" data-precio="<%= @order.total %>" data-locale="<%= I18n.locale %>">$</strong></p>

  <!-- Botón de pago (por integrar) -->
  
  <%= link_to "Ir al pago", new_order_payments_path(@order), class: "btn-pagar" %>

</section>

<script>
  function copiarCodigo() {
      const codigo = document.getElementById('order-code').innerText;
      navigator.clipboard.writeText(codigo).then(() => {
          alert("Código copiado: " + codigo);
      }).catch(err => {
          console.error("Error al copiar: ", err);
      });
  }
</script>