<div class="order-cart" id="<%= dom_id(order) %>">
    <div style="display: flex; flex-direction: column; align-items: center;">
        <h2><%= order.code %></h2>
        <p style="font-size: 20px; margin: 0;"><%= order.created_at.strftime("%d/%m/%Y %H:%M") %></p>
        <p class="<%= "status-#{order.status}" %>" style="font-size: 20px; margin: 10px;"><span><%= order.status.humanize %></span></p>
        <p style="font-size: 20px; margin: 8px;"><strong>Cliente:</strong> <%= order.user.nombre %> <%= order.user.apellido %></p>

        <strong style="margin-bottom: 10px; font-size: 23px;">Producto:</strong>
        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px; margin: 20px;">
            <% order.order_items.each do |oi| %>
                <div class="order-producto-carta">
                    <p style="margin-bottom: 0; font-size: 25px; text-align: center;"><%= oi.product.nombre %></p>
                    <p style="margin: 0 auto; font-size: 18px;"><strong>Cantidad:</strong> <%= oi.quantity %></p>
                </div>
            <% end %>
        </div> 
    </div>
    <div class="btn-orden">
        <% if order.pagado? %>
            <%= button_to "Marcar como En preparación", cambiar_estado_dashboard_order_path(order, order: { status: :en_preparacion }), method: :patch, class: "btn-accion", data: { turbo_stream: true }, class: "btn-eliminar"  %>
        <% elsif order.en_preparacion? %>
            <%= button_to "Marcar como Enviado", cambiar_estado_dashboard_order_path(order, order: { status: :enviado }), method: :patch, class: "btn-accion", data: { turbo_stream: true }, class: "btn-eliminar"  %>
        <% end %>

        <% unless order.cancelado? || order.entregado? %>
            <%= button_to "Cancelar Orden", cancelar_dashboard_order_path(order, order: { status: :cancelado }), method: :patch, data: { confirm: "¿Estás seguro de que quieres cancelar esta orden?", turbo_stream: true }, class: "btn-eliminar" %>
        <% end %>
    </div>
</div>