<section class="order-details" style="min-height: auto; gap: 15px;">
    <h1>Orden <%= @order.code %></h1>

    <p><strong><%= t("home.order.cliente")%></strong> <%= @order.user.nombre %> <%= @order.user.apellido %></p>
    <p class="<%= "status-#{@order.status}" %>"><strong><%= t("home.order.estado")%></strong> <span><%= @order.status.humanize %></span></p>

    <div class="qr-code-container">
        <h3>Código QR de la Orden</h3>
        <div class="qr-code">
        <%= @order.qr_code_with_link.html_safe %>
        </div>
        <p class="qr-info">Escanea para acceder a los detalles de la orden</p>
    </div>

    <h2>Productos</h2>
    
    <div class="order-tabla-container">
        <table class="order-tabla-products">
        <thead>
            <tr>
            <th><%= t("home.order.imagen")%></th>
            <th><%= t("home.ordenes.producto")%></th>
            <th><%= t("home.ordenes.cantidadd")%></th>
            <th><%= t("home.order.order_unitario")%></th>
            <th><%= t("home.order.total")%></th>
            </tr>
        </thead>
        <tbody>
            <% @order.order_items.each do |oi| %>
            <tr>
                <td><%= image_tag oi.product.imagen, alt: oi.product.nombre %></td>
                <td><%= oi.product.nombre %></td>
                <td><%= oi.quantity %></td>
                <td><%= number_to_currency(oi.price, unit: "COP ", separator: ",", delimiter: ".") %></td>
                <td><%= number_to_currency(oi.price * oi.quantity, unit: "COP ", separator: ",", delimiter: ".") %></td>
            </tr>
            <% end %>
        </tbody>
        </table>
    </div>

    <p class="order-total"><strong><%= t("home.carrito.total_pagar")%></strong> <%= number_to_currency(@order.total, unit: "COP ", separator: ",", delimiter: ".") %></p>

    <% if @order.coupon.present? %>
        <p style="color: green; font-weight: bold;">
            Cupón aplicado: <%= @order.coupon.codigo %> 
            (<%= @order.coupon.tipo_descuento == "fijo" ? number_to_currency(@order.coupon.valor) : "#{@order.coupon.valor}%" %>)
        </p>
    <% end %>
  
    <%= link_to t("home.ordenes.volver_listado"), dashboard_orders_path, class: "btn-eliminar", style: "margin: 10px auto;" %>

</section>
