<% productos_disponibles = @grupo.products.where(disponible: true).order(id: :asc) %>

<% if @products.any? %>
<br>
  <div class="grupo-productos-page">
    <div class="grupo-header">
      <h2 class="grupo-titulo-page"><%= @grupo.nombre %></h2>
      <%= link_to grupos_path, class: "btn-volver-grupos" do %>
        <span class="btn-icon">←</span>
        <span class="btn-text"><%= t("home.categoria.volver_categoria")%></span>
      <% end %>
    </div>
    
    <div class="productos-grid">
      <% @products.each do |producto| %>
        <div class="producto-card-page">
          <%= link_to grupo_product_path(@grupo, producto), class: "producto-link-page" do %>
            <div class="producto-imagen-container">
              <div class="img-wrapper shimmer">
                <div class="img-loader"></div>
                <img
                  src="<%= producto.imagen.attached? ? url_for(producto.imagen_resized2) : asset_path('LogoLogoText2.svg') %>"
                  alt="<%= producto.nombre %>"
                  class="producto-imagen-page"
                  onload="imageLoaded(this)"
                  onerror="imageError(this)"
                >
               </div>
            </div>
            <div class="producto-info-page">
              <h4 class="producto-nombre-page"><%= producto.nombre %></h4> 
              <p class="producto-precio-page">
                <p class="carta-precio"><strong class="precio-unitario" data-precio="<%= producto.precio %>" data-locale="<%= I18n.locale %>" style="font-size: 1.4em; color: var(--base); font-weight: bold;">$</strong></p>
              </p>
            </div>
          <% end %>
          <div class="producto-acciones-page">
            <%= button_to t("home.carrito.agregar_carrito"), 
                         carrito_items_path(product_id: producto.id), 
                         method: :post, 
                         class: "producto-btn-page",
                         data: { turbo_frame: "_top" } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= paginate @products %>
<% else %>
  <div class="sin-productos">
    <%= image_tag "ProductoNoDisponible.png", alt: "Producto No Disponible" %>
    <h2><%= t("home.categoria.sin_producto")%></h2>
  </div>
<% end %>


