<section class="grupo-show">
  <% if @grupo.imagen.attached? %>
    <%= image_tag @grupo.imagen, alt: @grupo.nombre, class: "grupo-imagen", width: 200 %>
  <% else %>
    <%= image_tag 'LogoLogo.svg', alt: @grupo.nombre, class: "grupo-imagen", width: 200 %>
  <%end%>

  <div class="grupo-show-def">
    <div class="grupo-show-info">
      <strong><%= t("home.section.grupo")%></strong> 
      <p><%= @grupo.nombre %></p>
      <p><strong><%= t("home.section.descripcion")%></strong> <%= @grupo.descripcion %></p>
    </div>

    <div class="grupo-show-links">
      <%= link_to t("home.section.mostrar_productos"), grupo_products_path(@grupo)%>
      <%= link_to t("home.section.mostrar_grupos"), grupos_path %>
    </div>
  </div>

</section>
