<% if @item.previously_new_record? %>
  <turbo-stream action="append" target="carrito-body">
    <template>
      <%= render partial: "carritos/item", formats: [:html], locals: { item: @item } %>
    </template>
  </turbo-stream>
<% else %>
  <turbo-stream action="replace" target="carrito-item-<%= @item.id %>">
    <template>
      <%= render partial: "carritos/item", formats: [:html], locals: { item: @item } %>
    </template>
  </turbo-stream>
<% end %>

<!-- Actualiza el contador de carrito -->
<turbo-stream action="update" target="contador-carrito">
  <template>
    <%= @item.carrito.carrito_items.sum(:cantidad) %>
  </template>
</turbo-stream>

<!-- ALERTA / TOAST -->
<turbo-stream action="append" target="flash-toast">
  <template>
    <div class="alert success">
      ✅ <%= @producto.nombre %> agregado al carrito
    </div>
  </template>
</turbo-stream>

<!-- Actualiza otros contadores / total -->
<turbo-stream action="update" target="contador-productos">
  <template>
    <%= @carrito.carrito_items.sum(:cantidad) %>
  </template>
</turbo-stream>

<turbo-stream action="update" target="total-carrito">
  <template>
    <%= number_to_currency(@carrito.carrito_items.sum { |item| item.precio * item.cantidad }, unit: "COP ", separator: ",", delimiter: ".") %>
  </template>
</turbo-stream>
