<% if @item.destroyed? %>
  <turbo-stream action="remove" target="carrito-item-<%= @item.id %>"></turbo-stream>
<% else %>
  <turbo-stream action="replace" target="carrito-item-<%= @item.id %>">
    <template>
      <%= render partial: "carritos/item", formats: [:html], locals: { item: @item } %>
    </template>
  </turbo-stream>
<% end %>

<turbo-stream action="update" target="contador-carrito">
  <template>
    <%= @carrito.carrito_items.sum(:cantidad) %>
  </template>
</turbo-stream>

<% if @carrito.carrito_items.empty? %>
  <turbo-stream action="replace" target="carrito-contenido">
    <template>
      <section id="carrito-contenido" class="carrito">
        <h2><%= t("home.carrito.tu_carrito")%></h2>
        <p><%= t("home.carrito.carrito_vacio")%></p>
      </section>
    </template>
  </turbo-stream>
<% end %>

<turbo-stream action="update" target="contador-productos">
  <template>
    <%= @carrito.carrito_items.sum(:cantidad) %>
  </template>
</turbo-stream>

<!-- Actualizar los totales del carrito -->
<turbo-stream action="replace" target="totales-carrito">
  <template>
    <div id="totales-carrito" class="totales-detalle">
      <div class="total-item">
        <span class="total-label">Subtotal:</span>
        <span class="total-value">
          <strong class="precio-total"
            data-precio="<%= @carrito.subtotal %>"
            data-locale="<%= I18n.locale %>">
              <% if I18n.locale == :en %>
                <%= number_to_currency(@carrito.subtotal/ 4000, unit: "USD", format: "%n %u", precision: 2) %>
              <% else %>
                <%= number_to_currency(@carrito.subtotal, unit: "COP", format: "%n %u", precision: 2) %>
              <% end %>
            </strong>
        </span>
      </div>
      
      <% if @carrito.descuento > 0 %>
        <div class="total-item descuento">
          <span class="total-label">Descuento:</span>
          <span class="total-value">-<%= number_to_currency(@carrito.descuento, unit: "COP $", separator: ",", delimiter: ".") %></span>
        </div>
      <% end %>
      
      <div class="total-item total-final">
        <span class="total-label">Total:</span>
        <span class="total-value">
          <strong class="precio-total"
            data-precio="<%= @carrito.total %>"
            data-locale="<%= I18n.locale %>">
              <% if I18n.locale == :en %>
                <%= number_to_currency(@carrito.total/ 4000, unit: "USD", format: "%n %u", precision: 2) %>
              <% else %>
                <%= number_to_currency(@carrito.total, unit: "COP", format: "%n %u", precision: 2) %>
              <% end %>
          </strong>
        </span>
      </div>
    </div>
  </template>
</turbo-stream>
